<html ng-app="encontreImoveisApp">
  <head>
    <title>AngularJS</title>
    <!-- vendo.css -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
    <link href="assets/layout.css" rel="stylesheet">
    <link href="assets/theme.css" rel="stylesheet">
  </head>
  <body ng-controller="ApplicationCtrl as application">
    <search-bar ref="application"></search-bar>
    <div class='content' ng-if="application.pesquisa">
      <div class="container-fluid places">
        <selected-place ref="application" ng-show="application.selectedPlace"></selected-place>
        <place
          model="p"
          ref="application"
          ng-click="application.selectedPlace = p"
          ng-repeat="p in application.placesResult"
          ng-hide="application.selectedPlace">
        </place>
      </div>
    </div>
    <!-- vendor.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.6.1/angular-sanitize.min.js"></script>
    <!-- application.js -->
    <script src="app/app.js"></script>
    <script src="app/controllers/application.ctrl.js"></script>
    <script src="app/components/place.js"></script>
    <script src="app/components/selected-place.js"></script>
    <script src="app/components/search-bar.js"></script>
    <script src="app/services/nestoria.js"></script>
  </body>
</html>
