<div class='panel panel-default'>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-2">
        <img ng-src="{{$ctrl.model.img_url}}" class='img-responsive' >
      </div>
      <div class="col-xs-10">
        <h4 class='title'>
          {{$ctrl.model.title}} <br>
          <small>{{$ctrl.model.keywords}}</small>
        </h4>
        <h5>{{$ctrl.model.lister_name}}, {{$ctrl.model.datasource_name}}</h5>
        <div class='price'>{{$ctrl.model.price_formatted}} <small>por mês</small></div>
      </div>
    </div>
  </div>
</div>
